{% extends "base.html" %}

{% block content %}
<h1>Registration</h1>
<form id="registerForm" method="post" action="/register">
    <label for="crypto">Wallet address:</label><br>
    <input type="text" id="crypto" name="crypto" required><br>
    <label for="tg_tag">Telegram Tag:</label><br>
    <input type="text" id="tg_tag" name="tg_tag" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Register</button>
</form>
{% endblock %}