{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<form id="loginForm" method="post" action="/login">
    <label for="crypto">Wallet address:</label>
    <input type="text" id="crypto" name="crypto" required><br>
    <label for="tg_">Wallet address:</label>
    <input type="text" id="crypto" name="crypto" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Login</button>
</form>
{% endblock %}